section.sec-serv {
  width: 100%;
  height: 100vh;
}
.backServices{
  background-image: url(../../../public/image/pexels-tima-miroshnichenko-6195288.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 50rem !important;
  margin: auto;
  text-align: right;
  justify-content: center;
  align-items: right;
  background-attachment: fixed;
  padding: 20px;
}
.backServices  h3{
  font-size: 3rem;
  color: white;
  font-weight: bolder;
}
.backServices  p{
  font-size: large;
  color: white;
  font-weight: bolder;
}
section.sec-serv .class-bg{
  margin: auto !important;
}