main{
  background-image:url(../../../public/image/bac.jpeg);
  width: 100%;
  height: 60rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:right;
  background-attachment: fixed;
  object-fit: cover;
}
main .flex{
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: center;
  align-content: space-evenly;
  margin: auto;
  width: 100%;
  height: 100%;
  color: var(--White);
  gap: 2rem;
  line-height: 30px;
  padding-block: 200px;

}
.text-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-inline: 20px;
  align-items: flex-start;
  width: 31%;
}
main .main-but{
    display: flex;
    gap: 2rem;
    padding-inline: 20px;
    
}
main .main-but button{
  background-color: var(--NavyBlue);
  padding: 10px;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  padding-inline: 20px;
}
main .main-but button:hover{
  background-color: var(--black);
  color: var(--White);
  border: 1px solid var(--White);
}
main h1,main p{
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-align: right;
}

@media (max-width: 968px) {
  .text-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-inline: 20px;
    align-items: flex-start;
    width: 40%;
  }
  main .flex {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;
    align-content: space-evenly;
    margin: auto;
    width: 100%;
    height: 100%;
    color: var(--White);
    gap: 1rem;
    line-height: 30px;
    /* padding-block: 380px; */
    /* margin-block: 100px; */

}
}

@media (max-width: 768px) {
  .text-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-inline: 20px;
    align-items: flex-start;
    width: 90%;
  }
}